{% extends "base.html" %}
{% block content %}
    <h2>Hospital Requests</h2>
    {% if messages %}{% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}{% endif %}

    {% if request.user.is_staff %}
        <a href="{% url 'process-requests' %}" class="btn btn-danger mt-3">Process All Requests</a>
    {% endif %}

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Blood Type</th>
                <th>City</th>
                <th>Status</th>
                <th>Quantity</th>
                <th>Fulfilled</th>
            </tr>
        </thead>
        <tbody>
            {% for request in object_list %}
            <tr>
                <td>{{ request.blood_type }}</td>
                <td>{{ request.city }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.quantity }}</td>
                <td>{{ request.fulfilled }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
